
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2014, 4:51:44 PM
    Author     : Allen
*/

body{
     background-image: url("../img/logo.png");
     font-family: 'Roboto' , sans-serif;
     
}
a {
	text-decoration: none;
	color: white;

}

h1{
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
  text-align:center;
  color: #0099B8;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}
div p{
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #0099B8;
  background-color: #0099B8;
  text-align: center;
}
#nvol {
    margin-top: 150px;
}
#wvol{
    margin-top: 60px;
}
input{
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #0099B8;
  text-align: center;
}
.field_container
{
    margin-top: 30px;
    height: 30px;
    
}
.btn {
  background: #0099B8;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn1 {
  background: #0099B8;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0099B8;
  text-decoration: none;
}


.btn1:hover {
  background: #0099B8;
  text-decoration: none;
}
