@import url(http://fonts.googleapis.com/css?family=Roboto:300,100);
body{
     background-image: url("../img/logo.png");
     
}
h1{

  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  color: #0099B8;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: white;
}
div p{
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #0099B8;
  background-color: #0099B8;
  text-align: center;
}
#nvol {
    margin-top: 150px;
}
#wvol{
    margin-top: 60px;
}
input{
   border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #0099B8;
  text-align: center;
}
#login{
    margin-top: 150px;   
}
.field_container
{
    margin-top: 30px;
    height: 30px;
    
}
.btn {
  background: #0099B8;
  background-image: -webkit-linear-gradient(top, #0099B8, #0099B8);
  background-image: -moz-linear-gradient(top, #0099B8, #0099B8);
  background-image: -ms-linear-gradient(top, #0099B8, #0099B8);
  background-image: -o-linear-gradient(top, #0099B8, #0099B8);
  background-image: linear-gradient(to bottom, #0099B8, #0099B8);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0099B8;
  background-image: -webkit-linear-gradient(top, #0099B8, #3498db);
  background-image: -moz-linear-gradient(top, #0099B8, #3498db);
  background-image: -ms-linear-gradient(top, #0099B8, #3498db);
  background-image: -o-linear-gradient(top, #0099B8, #3498db);
  background-image: linear-gradient(to bottom, #0099B8, #3498db);
  text-decoration: none;
}

.username {
  position: absolute;
  left: 0px;
  top: 0px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: absolute;
  left: 130px;
  top: 50px;
}

.infoList {
  list-style: none;
  background: #0099B8;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  */
  font-family: Arial;
  font-size: 20px;
  padding: 10px 200px 50px 200px;
  text-decoration: none;
}

.hidden {
  display: none;
}

.current {
  display: block;
}


.container {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
 /*margin: 50px auto;*/
  color: white;
  width: 120px;
}

.switch {
  position: relative;
  /*margin: 20px auto;*/
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
  font-weight: bold;
 /*color: rgba(0, 0, 0, 0.65);*/
  color : white;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 60px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 58px;
  height: 22px;
  background: #0099B8;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #0099B8,  #3498db);
  background-image: -moz-linear-gradient(top, #0099B8,  #3498db);
  background-image: -o-linear-gradient(top, #0099B8,  #3498db);
  background-image: linear-gradient(to bottom, #0099B8,  #3498db3);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
